:root {
  --bg-00: #1e2530;
  --bg-01: #2b3545;
  --bg-02: #48556b;
  --text-00: #ffffff;
  --text-01: #e1e7f0;
  --text-02: #7fa3c4;
  --border-width: 1px;
  --bg-active: #3b485c;
  --color-blue: #3b82f6;
  --color-blue-hover: #4f8ff7;
  --color-blue-surface: rgba(59, 130, 246, 0.3);
  --color-blue-dark: rgba(59, 130, 246, 0.7);

  --color-green: #10b981;
  --color-green-hover: #14d494;
  --color-green-surface: rgba(16, 185, 129, .3);

  --color-red: #ef4444;
  --color-red-hover: #f15c5c;
  --color-red-surface: rgba(239, 68, 68, .3);

  --color-yellow: #f37814;
  --color-yellow-hover: #ff8c5f;
  --color-yellow-surface: rgba(243, 120, 20, 0.3);
}