input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  
  width: 20px;
  height: 20px;
  border: var(--border-width) solid var(--border-blue-dark, var(--bg-02));
  background-color: var(--bg-00);
  border-radius: 6px;
  cursor: pointer;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease;
}

input[type="checkbox"]:hover:not(:disabled) {
  border-color: var(--color-blue);
}

input[type="checkbox"]:checked {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid var(--bg-00);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg) scale(0);
  opacity: 0;
  transition: transform 0.15s ease, opacity 0.15s ease;
  margin-top: -2px; 
}

input[type="checkbox"]:checked:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:disabled {
  background-color: var(--bg-02);
  border-color: var(--bg-02);
  cursor: not-allowed;
}